# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# Next.js
frontend/.next/
frontend/out/
frontend/.vercel/

# Django
*.pyc
__pycache__/
*.sqlite3
db.sqlite3
*.pyo
*.pyd
*.py[cod]
media/
staticfiles/

# Environments
.env.*

# Docker
**/Dockerfile
**/.dockerignore
docker-compose.override.yml

# Python virtual environments
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# LFS warning files
*.lfs*

# VSCode or IDE
.vscode/
.idea/
/backend/bin/
/backend/pyvenv.cfg
/backend/uploads/
