/* src/styles/navbar.css */
nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links li a {
    color: #171717;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}
